<div class="row">
	<% unless user_signed_in? %>
		<div class="col-md-3 col-sm-4 col-md-offset-2 col-sm-offset-1"
					id="sign-in">

			<%= render 'shared/sign_in_form' %>

		</div>
		<div class="col-md-3 col-sm-4 col-md-offset-2 col-sm-offset-2" id="sign-up">

			<%= render 'shared/sign_up_form' %>

		</div>
	<% else %>

		<h2 class="text-center">Other registered users:</h2>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div id="chat-list">
					<%= render @users %>
				</div>
			</div>
		</div>

	<% end %>
</div>